@tailwind base;
@tailwind components;
@tailwind utilities;

pre { tab-size: 2; }

.tabs input[type="radio"]:checked + label {
  background: #f8f8f8;
  z-index: 1;
  margin-bottom: -1px;
  padding-bottom: 1px;
}

.tabs input[type="radio"]:focus + label {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

p {
  @apply my-5
}

.prose ol, .prose ul {
  list-style: revert;
  margin: 0 0 0 1rem;
  padding: 0 0 0 1rem;
}
