name: CI
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        ruby-version:
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "head"
          - "truffleruby-22.2"
          - "truffleruby-22.3"
          - "jruby-9.3.14.0"
          - "jruby-9.4.6.0"
          - "jruby-head"
        exclude:
          - os: "windows-latest"
            ruby-version: "truffleruby-22.2"
          - os: "windows-latest"
            ruby-version: "truffleruby-22.3"

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: false

      - name: Install dependencies
        run: |
          bundle config set --local without "development"
          bundle install

      - name: Tests
        run: bundle exec sus

  rubocop:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: false

      - name: Install dependencies
        run: bundle install

      - name: Rubocop
        run: bundle exec rubocop
