name: CI
on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
jobs:
  tests:
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest']
        ruby-version:
          - '2.7'
          - '3.0'
          - '3.1'
          - '3.2'
          - 'head'

          - 'truffleruby-22.2'
          - 'truffleruby-22.3'
          - 'truffleruby-head'

          - 'jruby-9.4.0.0'
          - 'jruby-head'

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: false

      - name: Install dependencies
        run: bundle install

      - name: Tests
        run: bundle exec sus

      - name: GreenDots tests
        run: bundle exec gd gd

  rubocop:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v3

      - name: Setup
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: false

      - name: Install dependencies
        run: bundle install

      - name: Rubocop
        run: bundle exec rubocop
